/* /////////////////////////////
  COLORS
///////////////////////////// */
$white: #FFFFFF;

$background-color: #F2F2F2;
$font-color: #585858;

$blue: #176F90;
$orange: #ED6815;
$orange-lt: #F47E35;
$green: #26A222;

$form-error: #E62121;
$form-input-background: #FAFAFA;
$form-input-border: #585858;

/* /////////////////////////////
  SIZES
///////////////////////////// */
$container-lg: 900px;
$container-md: 768px;
$container-sm: 600px;
